@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf')

}

* {
  font-family: 'RobotoMono', 'monospace' ;
}

body {
  display: flex;
  height: 100vh;
  justify-content:center ;
  align-items:center;
  text-align: center;
  color: #fff;
  background: #649173;
  background: -webkit-linear-gradient(to right, #649173, #dbd5a4); 
  background: linear-gradient(to right, #649173, #dbd5a4); 
}